# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Other things to ignore
old/
archive/

*.log
*.pdf
*.tar
*.gz
.nfs*


output/*
!output/README.md

code/cisco/*
!code/cisco/README.md
!code/cisco/version.properties
!code/cisco/cnae_data_collection.py


git_run.sh
